h1 {
  /* Fix para o corte */
  display: block;
  padding: 10px 0; 
  margin: 0 auto 20px auto;
  line-height: 1.2;
  overflow: visible;

  /* Estilo do Texto */
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  font-family: 'Inter', sans-serif;
  
  /* Gradiente */
  background: linear-gradient(90deg, #6c5ce7, #1963e4, #6c5ce7);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}



/* Ajuste na imagem para ela não ficar "chapada" */
.hero img {
  width: 100%;
  max-width: 450px;
  height: 450px; /* Força um quadrado se quiser padronizar */
  object-fit: cover; /* Não distorce a imagem */
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  border: 4px solid #fff;
}

/* Texto de baixo (Nome: Amigão) */
.dog-name {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2d3436;
  background: #dfe6e9;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 50px;
}